<div class="header">
  <h1>天狗 TGOU.COM</h1>
  </div>
  
  <div class="row">
  <div class="col-3 col-m-3 menu">
  <ul>
  <li routerLink="/student">商品一览</li>
  <li routerLink="/student/detail">商品明细</li>
  <li>商品管理</li>
  <li>财务管理</li>
  <li>客户管理</li>
  </ul>
  </div>
  <div class="col-6 col-m-9">
    <router-outlet>
    </router-outlet>
  </div>
  
  <div class="col-3 col-m-12">
  <div class="aside">
  <h2>服装</h2>
  <p>男装，女装，鞋帽</p>
  <h2>食品</h2>
  <p>休闲食品，酒类，水果</p>
  <h2>医药</h2>
  <p>滋补品，医药，器械</p>
  </div>
  </div>
  </div>
  <div class="footer">
  <p>© 2017 TGOU.COM 版权所有</p>
  </div>